---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/code-blog/">Blog</a>

		<h1>About This Guy</h1>
		<h2>...and why this site came to be!</h2>
        <p>
            My name is to be determined but I woke up in a hospital back in 1984 in the great and horrifying city of Chicago. My limbs seemed to grow quite a bit over the next few years and I found myself and this absolutely wonderful woman I was told to call my mother living in Richmond, Va. during the early 90s. Eventually I moved to Michigan to live with my father in 9th grade, fell back into Chicago for a year and then escaped to California where mother had relocated to. And from California and the legality of adulthood I couldn't sit still kept waking up hungover in different cities across the country until finally I woke up clear headed in Nashville, TN in my late twenties, having finally recovered from an overpowering psychedelic experience in Austin TX that opened my eyes to such incredible possibilities of harmony between humans that as I returned to reality I slipped into a crippling depression due to the complete and total lack of harmony I saw around me. But a few solid years in Nashville seemed to the ole brain some good. I blinked one day and realized that without even trying I had married the woman of my dreams, and after a few years she screamed a lot one night and then handed me my first child. Looking at the lad I realized that after years of jolly excursions into the great beyond of purposelessness I finally had so much to stabilize myself for and thus I began to pursue a career that didn't cause me to emerge from sleep every morning soaked in a paralytic sludge of dread and horror. I always figured I'd finally write a book about my reckless travels and subsequently drop dead but no. It turns out I have this enormous knack for problem solving and a deep love for code. 
        </p>
        <p>
           So here I am. A software engineer with a passion for web development. I've been working in the industry for over 7 years and have experience with a wide range of technologies, my absolute favorite for reasons unbeknownst to me, being Java with Spring. I suppose I have a subconscious need for the stability of Java after a life of utter jolly aimless chaos. I've worked on everything from small personal projects to large enterprise applications. I'm always looking for new and interesting projects to work on, so if you have something you'd like to collaborate on, feel free to reach out! 
        </p>
        <p>
            This here is just me tinkering with Astro, doing the tutorial and seeing what I can do with it. I've been considering a blog for a while now so I suppose we'll see where this leads... unless there is a tear in the time-space continuum and I suddenly find myself dangling from an abnormally high telephone pole in an alternate reality where no one speaks... which is doubtful, but you never know.
        </p>
	</body> 
</html>

