---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Coding Through The Madness";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>A collection of blog posts that detail some of the roadblocks, nightmares, and moments of esctacy I have and will come up against in my coding excursions. There will be another blog dedicated to writing soon. It will consist of experimental writing, short stories from my years of aimless travel, and perhaps a few recollections/meditations on how I came to choose software engineering as something to become helplessly obsessed with.</h2>
  <!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->
</BaseLayout>

